@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$text-color: #e4e4e4;
$primary-color: #bb86fc;
$secondary-color: #03dac6;
$button-color: #6200ee;
$link-color: #03a9f4;
$dark-gray-bg: #1e1e1e;
$light-gray-bg: #333333;
$success-color: #4caf50;
$error-color: #d32f2f;
$warning-color: #ff9800;

body {
  background-color: #121212;
  color: $text-color;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  border: 1px solid red;
  display: flex;
  justify-content: center;

  > div {
    width: 80%;
    display: flex;
  }
}
