@use "../../index";

.container {
  display: flex;
  flex-direction: column;
  background-color: index.$dark-gray-bg;
  border: solid 5px index.$light-gray-bg;
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  height: auto;
  row-gap: 10px;
  align-items: center;
  min-height: 7rem;
  margin-top: 1rem;
}

.amount {
  color: index.$success-color;
  font-size: large;
}
