@use "../../index";

.loginForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: index.$light-gray-bg;
  color: index.$primary-color;
}

.loginEntry {
  color: index.$secondary-color;
}
