@use "../../index";

.registerForm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: index.$dark-gray-bg;
  color: index.$text-color;
  width: 400px;
  height: 550px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registerFormTitle {
  text-align: center;
  color: index.$primary-color;
}

.registerButton {
  margin-top: 10px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: index.$button-color;
  color: index.$text-color;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: index.$link-color;
  text-decoration: underline;
}

.link:active {
  color: index.$secondary-color;
}
